 body {
  background-image: url(../../profilebg.jpg);
  height: 604px;
}

.padding {
  padding: 2.25rem !important
}

.user-card-full {
  overflow: hidden;

  width: auto;
  height: auto;
  margin: 0 auto;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  /* margin-bottom: 30px; */
}

.m-r-0 {
  margin-right: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
  background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
  background: linear-gradient(to right, #ee5a6f, #f29263);
}

.user-profile {
  padding: 20px 0;
}

.card-block {
  padding: 1.25rem;
}

.m-b-25 {
  margin-bottom: 25px;
}

.img-radius {
  border-radius: 5px;
}



h6 {
  font-size: 14px;
}

.card .card-block p {
  line-height: 25px;
}

@media only screen and (min-width: 1400px) {
  p {
      font-size: 14px;
  }
}

.card-block {
  padding: 1.25rem;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.card .card-block p {
  line-height: 25px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.text-muted {
  color: #919aa3 !important;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
  font-weight: 600;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-40 {
  margin-top: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-40 {
  margin-top: 20px;
}

.user-card-full .social-link li {
  display: inline-block;
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}




.navigation {
  background-color: black;
  justify-items: right;

}

.nav {
  justify-content: right;
}

.container {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 10px;

}



.nav {
  margin: 0;
  padding: 16px 0;
}

.nav li {
  display: inline;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
}



.nav .btn {
  display: inline;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: -7px;
  margin-left: 10px;
  margin-right: 10px;
}

.container li:hover {
  transition-delay: 0.5ms;
  cursor: pointer;
  font-weight: bold;
  transform: scale(1.25);
  color: rgb(153, 66, 216);

} 


.box {
  width: 90%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.007);
  padding: 25px;
  /* border: 2px solid #fff; */
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}



.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: red;
}

.popup .content1 {
  max-height: 30%;
  overflow: auto;
}

.popup .content2 {
  max-height: 30%;
  overflow: auto;
}

.popup .content3 {
  max-height: 30%;
  overflow: auto;
}

