html,
body {
  margin: 0;
  padding: 0;
  background-image: url(../../unilbg.jpg);
  background-size: cover;
  background-position: center;
  height: 604px;
}

.navigation{
  /* background-color: black;
  justify-items: right; */
width: 100%;
}

.nav {
  /* justify-content: right; */
  margin: 0;
  padding: 16px 0px;
 
}

/* .container {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 10px;

} */
/* 1 */
.nav li {
  display: inline;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 5px;
  margin-right: 10px;


}

/* .home {
  background: url(../../studenthome.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 604px;
} */

/* .nav {
  margin: 0;
  padding: 16px 0;
} */

/* .nav li {
  display: inline;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
} */

.main h1 {
  background-color: rgba(109, 13, 177, 0.87);
  color: white;

  font-family: 'Raleway', sans-serif;
 
  font-weight: 600;
  font-size: 65px;

  margin-top: 0;
  margin-bottom: 170px;
  text-transform: uppercase;
}

.nav a {
  display: inline;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;


}




.clearfix {
  clear: both;
}






.container li:hover {
  color: rgba(133, 25, 209, 0.87);
  transition-delay: 0.5ms;
  cursor: pointer;
  font-weight: bold;
  transform: scale(1.25);
}







/* 

.dropbtn {

  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  text-transform: uppercase;



}


.dropdown {
  position: relative;
  display: inline-block;
  height: 20px;
  margin-top: -3px;
  font-family: 'Raleway', sans-serif;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
}



.dropdown:hover .dropdown-content {
  display: block;
}





.dropdown:hover .dropbtn {
  background-color: #4f3e8e;
}


.dropdown-content a:hover {
  color: rgba(133, 25, 209, 0.87);
  transition-delay: 0.5ms;
  cursor: pointer;
  font-weight: bold;
  transform: scale(1.25);
}

 */

 h1{
  color: #000000;
}
