<html>
  <nav class="navigation" style=" background-color: black;">
    <div class="container" style="max-width: 1550px;margin: 0 auto;padding: 0 10px;">
      <ul class="nav" style="justify-content: right;">
        <div class="form-outline"  style="margin-top: -10px;margin-bottom: -10px;margin-right: 10px;">
          <input type="search" id="form1" class="form-control" placeholder="search" [(ngModel)]="searchName" name="search"/>
          
        </div>
        <!-- <li routerLink="/studenthomepage" routerLinkActive="active"> Home</li> -->
       
        <!-- <div class="dropdown">
          <button class="dropbtn">Explore</button>
          <div class="dropdown-content">
            <a routerLink="/courselist"  routerLinkActive="active">All Courses</a>
          </div>
        </div> -->
        <!-- <li>Profile</li> -->
        <li onclick="history.back()">back</li>
      </ul>
    </div>
  </nav>
  <body>
    <div *ngIf="courses==null">
      <h1>NO COURSES AVAILABLE</h1>
  </div>

  <div *ngIf="courses!=null">

  
<section id="gallery">
  <h1 style="text-align: center;">COURSE LIST</h1>
  <div class="row">
   
  </div>
  <div class="container">
    <div class="row" >
    <div class="col-lg-4 mb-4" *ngFor="let course of courses | coursesearch:searchName ">
      <div>
        
      </div>
    <div class="card" >
      <!-- <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top"> -->
      <div class="card-body">
        <h5 class="card-title">{{course.courseName}}</h5>
        <p class="card-text">{{course.courseCode}}</p>
        <p class="card-text">{{course.degreeType}}  </p>
        <p class="card-text">{{course.courseDuration}}-Year/Years</p>
        <button  (click) = "apply(course.courseCode)"class = "btn btn-primary"> Apply</button>
        
      </div>
     </div>
    </div>
 
   
  </div>
</div>
</section> 
   
  </div>
  </body>
</html>


